@charset "UTF-8";

/*!
 *   Style Custom v2.4.0
 *   Author: Archie mercader
 *   Website: Archie Mercader Studio <http://archiemercader.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */

.input-group .input-group-addon.url-field {
  background: #d2d6de;
}

/* 
 * PLAYMR Theme colors
 * using the PLAYMR official colors and fonts
 */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* PLAYMR Links */

a {
  color: #E87722;
  /* orange */
}

a:hover {
  color: #df6910;
}

a.warning-link {
  color: #fff;
  text-decoration: none;
}

a.warning-link:hover {
  text-decoration: underline;
}

.alert a {
  text-decoration: none;
}

/* PLAYMR Header */

.skin-yellow-light .main-header .navbar {
  background-color: #E87722;
}

.skin-yellow-light .main-header .logo {
  background-color: #E87722;
}

/* PLAYMR Tabs */

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #E87722;
  /* orange */
}

.box.box-primary {
  border-top-color: #E87722;
}

.box-comments-success {
  background: #e2cbb9;
}

/* profile widget header */

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #E87722 !important;
  /* orange */
}

/* notification alert counter */

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #CB333B !important;
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  /*background-color: #CB333B !important;*/
}

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #CB333B !important;
}

/* buttons  */

.btn-primary {
  background-color: #E87722;
  border-color: #E87722;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #df6910;
  border-color: #E87722;
}

.btn-info {
  background-color: #E87722;
  border-color: #E87722;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #df6910;
  border-color: #E87722;
}

.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #df6910;
  border-color: #E87722;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  background-color: #df6910;
  border-color: #E87722;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #df6910;
  border-color: #E87722;
}

.btn-follow,
.btn-follow:focus {
  background-color: #236192;
  border-color: #236192;
  float: right;
  margin-right: 10px;
}

.btn-follow:hover {
  background-color: #1b5685;
  border-color: #1b5685;
}

/* direct chat / messaging */

.direct-chat-primary .right > .direct-chat-text {
  background: #236192;
  border-color: #236192;
}

.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
  border-left-color: #236192;
}

/* direct chat speech bubbles width, to switch to default change the 200px to 50px */

.direct-chat-text {
  margin: 5px 200px 0 50px;
}

.right .direct-chat-text {
  margin-left: 200px;
  text-align: right;
}

/* call out default color */

.callout.callout-info {
  border-color: #E87722;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #E87722 !important;
}

/* table pagination layout */

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #E87722;
  border-color: #E87722;
}

/* wizard active css feature */

.wizard li.active span.round-tab {
  border: 2px solid #E87722;
}

.wizard li.active span.round-tab i {
  color: #E87722;
}

.wizard li.active:after {
  border-bottom-color: #E87722;
}

/* header balance style for label and earnings */

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #fff;
}

.payout-table {
  border: 1px solid #E87722;
  border-radius: 5px;
  display: table;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.earned-this-month.payout-table {
  display: table;
}

.payout-table div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.payout-table .table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 30px 10px;
}

.earned-this-month.payout-table .table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 15px 10px;
}

.payout-table div.highlight {
  background: #E87722;
  color: #fff;
  font-size: 25px;
}

/* shoppersocial icons ssicons */

.ss-icon:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.ss-icon-feed:before {
  background-image: url(/assets/img/icons/feed.png);
}

.ss-icon-messages:before {
  background-image: url(/assets/img/icons/messages.png);
}

.ss-icon-rewards:before {
  background-image: url(/assets/img/icons/rewards.png);
}

.ss-icon-referrals:before {
  background-image: url(/assets/img/icons/referrals.png);
}

.ss-icon-settings:before {
  background-image: url(/assets/img/icons/settings.png);
}

.ss-icon-dashboard:before {
  background-image: url(/assets/img/icons/dashboard.png);
}

.ss-icon-activities-manager:before {
  background-image: url(/assets/img/icons/activities-manager.png);
}

.ss-icon-manage-projects:before {
  background-image: url(/assets/img/icons/manage-projects.png);
}

.ss-icon-add-project:before {
  background-image: url(/assets/img/icons/add-project.png);
}

.ss-icon-campaign-manager:before {
  background-image: url(/assets/img/icons/campaign-manager.png);
}

.ss-icon-manage-members:before {
  background-image: url(/assets/img/icons/manage-members.png);
}

.ss-icon-register:before {
  background-image: url(/assets/img/icons/register.png);
}

.ss-icon-login:before {
  background-image: url(/assets/img/icons/login.png);
}

.ss-icon-forgot-password:before {
  background-image: url(/assets/img/icons/forgot-password.png);
}

#flash-message {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* add margin top in the register/login page */

.login-page,
.register-page {
  background: #d2d6de;
  margin-top: 50px;
}

/* error styles in login/registration page */

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
}

/* Feed/dashboard page, what's on your mind */

.skin-yellow-light .sidebar-form {
  margin: 0;
  margin-bottom: 10px;
}

.skin-yellow-light .sidebar-form .btn {
  /*height: 52px;*/
}

/* feed/dashboard post list .post-list */

.post-list {
  background-color: #fff;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 0px;
}

.col-lg-1:last-child,
.col-lg-10:last-child,
.col-lg-11:last-child,
.col-lg-12:last-child,
.col-lg-2:last-child,
.col-lg-3:last-child,
.col-lg-4:last-child,
.col-lg-5:last-child,
.col-lg-6:last-child,
.col-lg-7:last-child,
.col-lg-8:last-child,
.col-lg-9:last-child,
.col-md-1:last-child,
.col-md-10:last-child,
.col-md-11:last-child,
.col-md-12:last-child,
.col-md-2:last-child,
.col-md-3:last-child,
.col-md-4:last-child,
.col-md-5:last-child,
.col-md-6:last-child,
.col-md-7:last-child,
.col-md-8:last-child,
.col-md-9:last-child,
.col-sm-1:last-child,
.col-sm-10:last-child,
.col-sm-11:last-child,
.col-sm-12:last-child,
.col-sm-2:last-child,
.col-sm-3:last-child,
.col-sm-4:last-child,
.col-sm-5:last-child,
.col-sm-6:last-child,
.col-sm-7:last-child,
.col-sm-8:last-child,
.col-sm-9:last-child,
.col-xs-1:last-child,
.col-xs-10:last-child,
.col-xs-11:last-child,
.col-xs-12:last-child,
.col-xs-2:last-child,
.col-xs-3:last-child,
.col-xs-4:last-child,
.col-xs-5:last-child,
.col-xs-6:last-child,
.col-xs-7:last-child,
.col-xs-8:last-child,
.col-xs-9 {
  padding-right: 15px;
}

/* search highlight */

.ais-highlight em {
  background: yellow;
}

/* start landing page */

.landing-widgets {
  margin-top: 50px;
  background: white;
}

.landing-widgets .container,
.landing-features .container,
.landing-panels .container,
.landing-videos .container,
.landing-testimonials .container,
.landing-downloads .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.landing-widgets .purple,
.landing-panels .card .card-body .card-title {
  color: #f45373;
}

.landing-features {
  background: #dd5268;
  color: #fff;
}

.landing-panels,
.landing-testimonials {
  background: white;
}

.landing-panels .card {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.landing-panels .card .card-body {
  padding: 1.25rem;
}

.landing-panels .card .card-body .card-title {
  font-weight: bold;
}

.landing-videos video {
  width: 100%;
  height: auto;
}

.landing-downloads {
  background: url("https://cdn2.hubspot.net/hubfs/2500081/Invest/bg2.jpg");
}

.footer-copyright {
  background: #f45373;
  color: #fff;
}

.footer-copyright footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-copyright footer a {
  color: #fff;
  text-decoration: underline;
}

.footer-copyright footer a:hover {
  text-decoration: none;
}

/* end landing page */

/* start thread/post styles */

.thread-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.status-buttons {
  margin-top: 10px;
  padding-bottom: 20px;
}

.status-buttons input[type=file] {
  display: inline;
}

.post-list .box-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

/* feed post upload image */

.button-post-container,
.button-post-wrapper {
  position: relative;
  display: inline-block;
}

.button-post-wrapper div {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #efefef;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.button-post-wrapper div input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.button-post-wrapper img {
  height: 40px;
}

.modal-dialog {
  width: 98%;
  height: 98%;
}

.modal-content {
  height: auto;
  min-height: 90%;
}

/* end thread styles */

/* start messages */

.img-messages {
  float: none;
  margin-right: 8px;
}

.direct-chat-messages {
  /*height: 100%;*/
  height: 655px;
}

.direct-chat-text {
  margin: 5px 400px 0 50px;
}

.right .direct-chat-text {
  margin-left: 400px;
  text-align: right;
}

/* end messages styles */

/* start testimonials */

.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: "\201C";
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  border: 3px solid #9CC1D3;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -0.2em;
  left: 0;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: 0.8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 160px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}

/* end testimonials */

